<div class="main-container">  
  <section class="content">
    <div class="form-content">
      <div class="heading"> 
        <h2>Sample form</h2>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="input-form">
        <div class="form-element-group">
          <fieldset class="field">
            <label for="user-fname">First Name</label>
            <input id="user-fname" type="text" class="text-input" formControlName="firstName">
            <span class="text-danger" *ngIf="firstName && firstName.invalid && firstName.touched">Required</span>
          </fieldset>
          <fieldset class="field">
            <label for="user-lname">Last Name</label>
            <input id="user-lname" type="text"  class="text-input" formControlName="lastName">
            <span class="text-danger" *ngIf="lastName && lastName.invalid && lastName.touched">Required</span>
          </fieldset>
        </div>
        <div class="form-element">
          <fieldset class="field">
            <label for="user-email">Email</label>
            <input id="user-email" type="email" class="text-input" formControlName="email">
            <span class="text-danger" *ngIf="email && email.invalid && email.touched">Invalid Email</span>
          </fieldset>
        </div>
        <div class="form-element">
          <fieldset class="field">
            <label for="user-password">Password</label>
            <input id="user-password" type="password" class="text-input" formControlName="password">
            <span class="text-danger" *ngIf="password && password.invalid && password.touched">Invalid Password</span>
          </fieldset>
        </div>

        <div class="form-element">
          <fieldset class="field">
            <label for="user-dob">DOB</label>
            <input id="user-dob" type="date" class="text-input" formControlName="dob">
            <span class="text-danger" *ngIf="dob && dob.invalid && dob.touched">Enter Correct DOB</span>
          </fieldset>
        </div>

        <div class="form-element">
          <fieldset class="field">
            <label for="user-phone">Phone</label>
            <input type="text" class="text-input" formControlName="phone" id="user-phone">
              <div class="form-text text-danger" *ngIf="phone && phone.errors && (phone.dirty || phone.touched)">Enter Numbers Only</div>
           
          </fieldset>
        </div>

        <div class="form-element">
          <fieldset class="terms d-flex">
            <label for="gender" style="margin: 20px;">Gender: </label>
            <input type="radio" class="text-input" id="male" value="male" formControlName="gender">
            <label for="male" style="margin: 20px;">Male </label>
            <input type="radio" class="text-input" id="female" value="female" formControlName="gender">
            <label for="female" style="margin: 20px;">Female </label>
            <input type="radio" class="text-input" id="other" value="other" formControlName="gender">
            <label for="other" style="margin: 20px;">Other </label>
            <span class="text-danger" *ngIf="gender && gender.invalid && gender.touched">Invalid</span>
          </fieldset>
        </div>
        
      </form>
      <button class="form-button" (click)="onSubmit()" [disabled]="userForm.invalid">Save</button>
      <a routerLink="save" class="nav-link" routerLinkActive="active"></a>
    </div>
  </section>
</div>
