
.footter {
  text-align: center;
}
@media screen and (max-width:500px ) {
  .total-shots-container{
    flex-direction: column;
    flex-direction: column-reverse;
   }
  .footter {
  text-align: center;
  flex-direction: column;
}
.footers{
  justify-content: none;
  justify-content: flex-start;
}
}
.footers{
  padding-bottom: 40px;
}
